<div class="view-box-warp">
	<h2>Buttons</h2>
	<h3>Normal</h3>
	<div class="row">
		<div class="col-lg-6">
			<Codebox>
				<Button type="default" onClick={()=>{alert(1)}}>Default</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="primary">Primary</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="success">Success</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="info">Info</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="danger">Danger</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="warning">Warning</Button>
			</Codebox>
		</div>
	</div>
	<h3>Large .btn-lg</h3>
	<div class="row">

		<div class="col-lg-6">
			<Codebox>
				<Button type="default" size="lg">Default</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="primary" size="lg">Primary</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="success" size="lg">Success</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="info" size="lg">Info</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="danger" size="lg">Danger</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="warning" size="lg">Warning</Button>
			</Codebox>
		</div>
	</div>

	<h3>Small .btn-sm</h3>
	<div class="row">

		<div class="col-lg-6">
			<Codebox>
				<Button type="default" size="sm">Default</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="primary" size="sm">Primary</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="success" size="sm">Success</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="info" size="sm">Info</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="danger" size="sm">Danger</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="warning" size="sm">Warning</Button>
			</Codebox>
		</div>
	</div>
	<h3>X-Small .btn-xs</h3>
	<div class="row">

		<div class="col-lg-6">
			<Codebox>
				<Button type="default" size="xs">Default</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="primary" size="xs">Primary</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="success" size="xs">Success</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="info" size="xs">Info</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="danger" size="xs">Danger</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="warning" size="xs">Warning</Button>
			</Codebox>
		</div>
	</div>
	<h3>Flat .btn-flat</h3>
	<div class="row">

		<div class="col-lg-6">
			<Codebox>
				<Button type="default" size="flat">Default</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="primary" size="flat">Primary</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="success" size="flat">Success</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="info" size="flat">Info</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="danger" size="flat">Danger</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="warning" size="flat">Warning</Button>
			</Codebox>
		</div>
	</div>

	<h3>Disabled .disabled</h3>
	<div class="row">
		<div class="col-lg-6">
			<Codebox>
				<Button type="default" disabled="disabled">Default</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="primary" disabled="disabled">Primary</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="success" disabled="disabled">Success</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="info" disabled="disabled">Info</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="danger" disabled="disabled">Danger</Button>
			</Codebox>
		</div>
		<div class="col-lg-6">
			<Codebox>
				<Button type="warning" disabled="disabled">Warning</Button>
			</Codebox>
		</div>
	</div>
</div>
