<div>
    <script>
       function myAlert(){
        alert('myAlert')
       }
    </script>

    <script lazy>
        console.log($('.Editor').component())
    </script>
    <button onClick={myAlert}>myAlert</button>
    <div className="view-box">
        <Codebox>
            <Alert icon={<Icon type="anchor" />} title="这个是标题" type="info"> 这里是正文这里是正文这里是正文这里是正文这里是正文
            </Alert>
        </Codebox>
    </div>
    <div className="view-box">
        <Codebox>
            <Editor className="Editor" />
        </Codebox>
    </div>
</div>