<Form className="form-horizontal" id="fsf">
	<Codebox>
		<FormItem>
			<Select>
				<SelectOption>Alaska</SelectOption>
				<SelectOption selected="selected">California</SelectOption>
				<SelectOption>Delaware</SelectOption>
				<SelectOption>Tennessee</SelectOption>
				<SelectOption>Texas</SelectOption>
				<SelectOption>Washington</SelectOption>
			</Select>
		</FormItem>
	</Codebox>

	<Codebox>
		<FormItem>
			复选框：<Input type="checkbox" name="erty" />
		</FormItem>
	</Codebox>

	<Codebox>
		<FormItem>
			单选按钮：<Input type="radio" />
		</FormItem>
	</Codebox>

	<Codebox>
		<FormItem>
			下拉框 + 尾标Icon：
			<InputGroup beforeBtn={{ text: '这个是下拉按钮', type: 'warning', content: [ { link: 'www.baidu.com', text: '第一个' }, { link:
			  'www.baidu.com', text: '第二个' }, { link: 'www.baidu.com', text: '第三个' }, { link: 'www.baidu.com', text: '第四个' } ] }} afterGroup={<Icon
			  type="anchor" />} placeholder="" />
		</FormItem>
	</Codebox>

	<Codebox>
		<FormItem>
			默认输入框：<Input />
		</FormItem>
	</Codebox>

	<Codebox>
		<FormItem>
			传入样式输入框:
			<div className="row">
				<div className="col-xs-3">
					<Input name="a1" />
				</div>
				<div className="col-xs-3">
					<Input name="a2" />
				</div>
				<div className="col-xs-3">
					<Input name="a3" />
				</div>
				<div className="col-xs-3">
					<Input name="a4" />
				</div>
			</div>
		</FormItem>
	</Codebox>

	<Codebox>
		<FormItem>
			Lable + 输入框（折行显示）：
			<label htmlFor="" className="control-label">请输入手机号</label>
			<Input />
		</FormItem>
	</Codebox>

	<Codebox>
		<FormItem>
			Label + Textarea文本域：
			<label htmlFor="" className="control-label">请输入</label>
			<Textarea />
		</FormItem>
	</Codebox>

	<Codebox>
		<FormItem>
			Lable + 输入框（同行显示）：
			<div className="row">
				<div className="col-xs-4">
					<label htmlFor="" className="control-label">请输入手机号</label>
				</div>
				<div className="col-xs-8">
					<Input />
				</div>
			</div>
		</FormItem>
	</Codebox>
	
	<Codebox>
		<FormItem>
			复选框 + 输入框 + 尾标icon：
			<InputGroup beforeGroup={<Input type="checkbox" />} 
			afterGroup={<Icon type="anchor" />} />
		</FormItem>
	</Codebox>

	<Codebox>
		<FormItem>
			日期选择器：
			<DatePicker beforeGroup={<Icon type="anchor" />} id="datepicker" />
		</FormItem>
	</Codebox>
</Form>
