<div class="view-box">
	<h2>66 New Icons in 4.4</h2>
	<Icon type="500px" />
	<Icon type="amazon" />
	<Icon type="balance-scale" />
	<Icon type="battery-0" />
	<Icon type="battery-1" />
	<Icon type="battery-2" />
	<Icon type="battery-3" />
	<Icon type="battery-4" />
	<Icon type="battery-empty" />
	<Icon type="battery-full" />
	<Icon type="battery-half" />
	<Icon type="battery-quarter" />
	<Icon type="battery-three-quarters" />
	<Icon type="black-tie" />
	<Icon type="calendar-check-o" />
	<Icon type="calendar-minus-o" />
	<Icon type="calendar-plus-o" />
	<Icon type="calendar-times-o" />
	<Icon type="cc-diners-club" />
	<Icon type="cc-jcb" />
	<Icon type="chrome" />
	<Icon type="clone" />
	<Icon type="commenting" />
	<Icon type="commenting-o" />
	<Icon type="contao" />
	<Icon type="creative-commons" />
	<Icon type="expeditedssl" />
	<Icon type="firefox" />
	<Icon type="fonticons" />
	<Icon type="genderless" />
	<Icon type="get-pocket" />
	<Icon type="gg" />
	<Icon type="gg-circle" />
	<Icon type="hand-grab-o" />
	<Icon type="hand-lizard-o" />
	<Icon type="hand-paper-o" />
	<Icon type="hand-peace-o" />
	<Icon type="hand-pointer-o" />
	<Icon type="hand-rock-o" />
	<Icon type="hand-scissors-o" />
	<Icon type="hand-spock-o" />
	<Icon type="hand-stop-o" />
	<Icon type="hourglass" />
	<Icon type="hourglass-1" />
	<Icon type="hourglass-2" />
	<Icon type="hourglass-3" />
	<Icon type="hourglass-end" />
	<Icon type="hourglass-half" />
	<Icon type="hourglass-o" />
	<Icon type="hourglass-start" />
	<Icon type="houzz" />
	<Icon type="i-cursor" />
	<Icon type="industry" />
	<Icon type="internet-explorer" />
	<Icon type="map" />
	<Icon type="map-o" />
	<Icon type="map-signs" />
	<Icon type="mouse-pointer" />
	<Icon type="map-pin" />
	<Icon type="object-group" />
	<Icon type="object-ungroup" />
	<Icon type="odnoklassniki" />
	<Icon type="odnoklassniki-square" />
	<Icon type="opencart" />
	<Icon type="opera" />
	<Icon type="optin-monster" />
	<Icon type="registered" />
	<Icon type="safari" />
	<Icon type="sticky-note" />
	<Icon type="sticky-note-o" />
	<Icon type="television" />
	<Icon type="trademark" />
	<Icon type="tripadvisor" />
	<Icon type="tv" />
	<Icon type="vimeo" />
	<Icon type="wikipedia-w" />
	<Icon type="y-combinator" />
	<Icon type="yc" />
	<h2> Web Application Icons</h2>
	<Icon type="adjust" />
	<Icon type="anchor" />
	<Icon type="archive" />
	<Icon type="area-chart" />
	<Icon type="arrows" />
	<Icon type="arrows-h" />
	<Icon type="arrows-v" />
	<Icon type="asterisk" />
	<Icon type="at" />
	<Icon type="automobile" />
	<Icon type="balance-scale" />
	<Icon type="ban" />
	<Icon type="bank" />
	<Icon type="bar-chart" />
	<Icon type="bar-chart-o" />
	<Icon type="barcode" />
	<Icon type="bars" />
	<Icon type="battery-0" />
	<Icon type="battery-1" />
	<Icon type="battery-2" />
	<Icon type="battery-3" />
	<Icon type="battery-4" />
	<Icon type="battery-empty" />
	<Icon type="battery-full" />
	<Icon type="battery-half" />
	<Icon type="battery-quarter" />
	<Icon type="battery-three-quarters" />
	<Icon type="bed" />
	<Icon type="beer" />
	<Icon type="bell" />
	<Icon type="bell-o" />
	<Icon type="bell-slash" />
	<Icon type="bell-slash-o" />
	<Icon type="bicycle" />
	<Icon type="binoculars" />
	<Icon type="birthday-cake" />
	<Icon type="bolt" />
	<Icon type="bomb" />
	<Icon type="book" />
	<Icon type="bookmark" />
	<Icon type="bookmark-o" />
	<Icon type="briefcase" />
	<Icon type="bug" />
	<Icon type="building" />
	<Icon type="building-o" />
	<Icon type="bullhorn" />
	<Icon type="bullseye" />
	<Icon type="bus" />
	<Icon type="cab" />
	<Icon type="calculator" />
	<Icon type="calendar" />
	<Icon type="calendar-check-o" />
	<Icon type="calendar-minus-o" />
	<Icon type="calendar-o" />
	<Icon type="calendar-plus-o" />
	<Icon type="calendar-times-o" />
	<Icon type="camera" />
	<Icon type="camera-retro" />
	<Icon type="car" />
	<Icon type="caret-square-o-down" />
	<Icon type="caret-square-o-left" />
	<Icon type="caret-square-o-right" />
	<Icon type="caret-square-o-up" />
	<Icon type="cart-arrow-down" />
	<Icon type="cart-plus" />
	<Icon type="cc" />
	<Icon type="certificate" />
	<Icon type="check" />
	<Icon type="check-circle" />
	<Icon type="check-circle-o" />
	<Icon type="check-square" />
	<Icon type="check-square-o" />
	<Icon type="child" />
	<Icon type="circle" />
	<Icon type="circle-o" />
	<Icon type="circle-o-notch" />
	<Icon type="circle-thin" />
	<Icon type="clock-o" />
	<Icon type="clone" />
	<Icon type="close" />
	<Icon type="cloud" />
	<Icon type="cloud-download" />
	<Icon type="cloud-upload" />
	<Icon type="code" />
	<Icon type="code-fork" />
	<Icon type="coffee" />
	<Icon type="cog" />
	<Icon type="cogs" />
	<Icon type="comment" />
	<Icon type="comment-o" />
	<Icon type="commenting" />
	<Icon type="commenting-o" />
	<Icon type="comments" />
	<Icon type="comments-o" />
	<Icon type="compass" />
	<Icon type="copyright" />
	<Icon type="creative-commons" />
	<Icon type="credit-card" />
	<Icon type="crop" />
	<Icon type="crosshairs" />
	<Icon type="cube" />
	<Icon type="cubes" />
	<Icon type="cutlery" />
	<Icon type="dashboard" />
	<Icon type="database" />
	<Icon type="desktop" />
	<Icon type="diamond" />
	<Icon type="dot-circle-o" />
	<Icon type="download" />
	<Icon type="edit" />
	<Icon type="ellipsis-h" />
	<Icon type="ellipsis-v" />
	<Icon type="envelope" />
	<Icon type="envelope-o" />
	<Icon type="envelope-square" />
	<Icon type="eraser" />
	<Icon type="exchange" />
	<Icon type="exclamation" />
	<Icon type="exclamation-circle" />
	<Icon type="exclamation-triangle" />
	<Icon type="external-link" />
	<Icon type="external-link-square" />
	<Icon type="eye" />
	<Icon type="eye-slash" />
	<Icon type="eyedropper" />
	<Icon type="fax" />
	<Icon type="feed" />
	<Icon type="female" />
	<Icon type="fighter-jet" />
	<Icon type="file-archive-o" />
	<Icon type="file-audio-o" />
	<Icon type="file-code-o" />
	<Icon type="file-excel-o" />
	<Icon type="file-image-o" />
	<Icon type="file-movie-o" />
	<Icon type="file-pdf-o" />
	<Icon type="file-photo-o" />
	<Icon type="file-picture-o" />
	<Icon type="file-powerpoint-o" />
	<Icon type="file-sound-o" />
	<Icon type="file-video-o" />
	<Icon type="file-word-o" />
	<Icon type="file-zip-o" />
	<Icon type="film" />
	<Icon type="filter" />
	<Icon type="fire" />
	<Icon type="fire-extinguisher" />
	<Icon type="flag" />
	<Icon type="flag-checkered" />
	<Icon type="flag-o" />
	<Icon type="flash" />
	<Icon type="flask" />
	<Icon type="folder" />
	<Icon type="folder-o" />
	<Icon type="folder-open" />
	<Icon type="folder-open-o" />
	<Icon type="frown-o" />
	<Icon type="futbol-o" />
	<Icon type="gamepad" />
	<Icon type="gavel" />
	<Icon type="gear" />
	<Icon type="gears" />
	<Icon type="gift" />
	<Icon type="glass" />
	<Icon type="globe" />
	<Icon type="graduation-cap" />
	<Icon type="group" />
	<Icon type="hand-grab-o" />
	<Icon type="hand-lizard-o" />
	<Icon type="hand-paper-o" />
	<Icon type="hand-peace-o" />
	<Icon type="hand-pointer-o" />
	<Icon type="hand-rock-o" />
	<Icon type="hand-scissors-o" />
	<Icon type="hand-spock-o" />
	<Icon type="hand-stop-o" />
	<Icon type="hdd-o" />
	<Icon type="headphones" />
	<Icon type="heart" />
	<Icon type="heart-o" />
	<Icon type="heartbeat" />
	<Icon type="history" />
	<Icon type="home" />
	<Icon type="hotel" />
	<Icon type="hourglass" />
	<Icon type="hourglass-1" />
	<Icon type="hourglass-2" />
	<Icon type="hourglass-3" />
	<Icon type="hourglass-end" />
	<Icon type="hourglass-half" />
	<Icon type="hourglass-o" />
	<Icon type="hourglass-start" />
	<Icon type="i-cursor" />
	<Icon type="image" />
	<Icon type="inbox" />
	<Icon type="industry" />
	<Icon type="info" />
	<Icon type="info-circle" />
	<Icon type="institution" />
	<Icon type="key" />
	<Icon type="keyboard-o" />
	<Icon type="language" />
	<Icon type="laptop" />
	<Icon type="leaf" />
	<Icon type="legal" />
	<Icon type="lemon-o" />
	<Icon type="level-down" />
	<Icon type="level-up" />
	<Icon type="life-bouy" />
	<Icon type="life-buoy" />
	<Icon type="life-ring" />
	<Icon type="life-saver" />
	<Icon type="lightbulb-o" />
	<Icon type="line-chart" />
	<Icon type="location-arrow" />
	<Icon type="lock" />
	<Icon type="magic" />
	<Icon type="magnet" />
	<Icon type="mail-forward" />
	<Icon type="mail-reply" />
	<Icon type="mail-reply-all" />
	<Icon type="male" />
	<Icon type="map" />
	<Icon type="map-marker" />
	<Icon type="map-o" />
	<Icon type="map-pin" />
	<Icon type="map-signs" />
	<Icon type="meh-o" />
	<Icon type="microphone" />
	<Icon type="microphone-slash" />
	<Icon type="minus" />
	<Icon type="minus-circle" />
	<Icon type="minus-square" />
	<Icon type="minus-square-o" />
	<Icon type="mobile" />
	<Icon type="mobile-phone" />
	<Icon type="money" />
	<Icon type="moon-o" />
	<Icon type="mortar-board" />
	<Icon type="motorcycle" />
	<Icon type="mouse-pointer" />
	<Icon type="music" />
	<Icon type="navicon" />
	<Icon type="newspaper-o" />
	<Icon type="object-group" />
	<Icon type="object-ungroup" />
	<Icon type="paint-brush" />
	<Icon type="paper-plane" />
	<Icon type="paper-plane-o" />
	<Icon type="paw" />
	<Icon type="pencil" />
	<Icon type="pencil-square" />
	<Icon type="pencil-square-o" />
	<Icon type="phone" />
	<Icon type="phone-square" />
	<Icon type="photo" />
	<Icon type="picture-o" />
	<Icon type="pie-chart" />
	<Icon type="plane" />
	<Icon type="plug" />
	<Icon type="plus" />
	<Icon type="plus-circle" />
	<Icon type="plus-square" />
	<Icon type="plus-square-o" />
	<Icon type="power-off" />
	<Icon type="print" />
	<Icon type="puzzle-piece" />
	<Icon type="qrcode" />
	<Icon type="question" />
	<Icon type="question-circle" />
	<Icon type="quote-left" />
	<Icon type="quote-right" />
	<Icon type="random" />
	<Icon type="recycle" />
	<Icon type="refresh" />
	<Icon type="registered" />
	<Icon type="remove" />
	<Icon type="reorder" />
	<Icon type="reply" />
	<Icon type="reply-all" />
	<Icon type="retweet" />
	<Icon type="road" />
	<Icon type="rocket" />
	<Icon type="rss" />
	<Icon type="rss-square" />
	<Icon type="search" />
	<Icon type="search-minus" />
	<Icon type="search-plus" />
	<Icon type="send" />
	<Icon type="send-o" />
	<Icon type="server" />
	<Icon type="share" />
	<Icon type="share-alt" />
	<Icon type="share-alt-square" />
	<Icon type="share-square" />
	<Icon type="share-square-o" />
	<Icon type="shield" />
	<Icon type="ship" />
	<Icon type="shopping-cart" />
	<Icon type="sign-in" />
	<Icon type="sign-out" />
	<Icon type="signal" />
	<Icon type="sitemap" />
	<Icon type="sliders" />
	<Icon type="smile-o" />
	<Icon type="soccer-ball-o" />
	<Icon type="sort" />
	<Icon type="sort-alpha-asc" />
	<Icon type="sort-alpha-desc" />
	<Icon type="sort-amount-asc" />
	<Icon type="sort-amount-desc" />
	<Icon type="sort-asc" />
	<Icon type="sort-desc" />
	<Icon type="sort-down" />
	<Icon type="sort-numeric-asc" />
	<Icon type="sort-numeric-desc" />
	<Icon type="sort-up" />
	<Icon type="space-shuttle" />
	<Icon type="spinner" />
	<Icon type="spoon" />
	<Icon type="square" />
	<Icon type="square-o" />
	<Icon type="star" />
	<Icon type="star-half" />
	<Icon type="star-half-empty" />
	<Icon type="star-half-full" />
	<Icon type="star-half-o" />
	<Icon type="star-o" />
	<Icon type="sticky-note" />
	<Icon type="sticky-note-o" />
	<Icon type="street-view" />
	<Icon type="suitcase" />
	<Icon type="sun-o" />
	<Icon type="support" />
	<Icon type="tablet" />
	<Icon type="tachometer" />
	<Icon type="tag" />
	<Icon type="tags" />
	<Icon type="tasks" />
	<Icon type="taxi" />
	<Icon type="television" />
	<Icon type="terminal" />
	<Icon type="thumb-tack" />
	<Icon type="thumbs-down" />
	<Icon type="thumbs-o-down" />
	<Icon type="thumbs-o-up" />
	<Icon type="thumbs-up" />
	<Icon type="ticket" />
	<Icon type="times" />
	<Icon type="times-circle" />
	<Icon type="times-circle-o" />
	<Icon type="tint" />
	<Icon type="toggle-down" />
	<Icon type="toggle-left" />
	<Icon type="toggle-off" />
	<Icon type="toggle-on" />
	<Icon type="toggle-right" />
	<Icon type="toggle-up" />
	<Icon type="trademark" />
	<Icon type="trash" />
	<Icon type="trash-o" />
	<Icon type="tree" />
	<Icon type="trophy" />
	<Icon type="truck" />
	<Icon type="tty" />
	<Icon type="tv" />
	<Icon type="umbrella" />
	<Icon type="university" />
	<Icon type="unlock" />
	<Icon type="unlock-alt" />
	<Icon type="unsorted" />
	<Icon type="upload" />
	<Icon type="user" />
	<Icon type="user-plus" />
	<Icon type="user-secret" />
	<Icon type="user-times" />
	<Icon type="users" />
	<Icon type="video-camera" />
	<Icon type="volume-down" />
	<Icon type="volume-off" />
	<Icon type="volume-up" />
	<Icon type="warning" />
	<Icon type="wheelchair" />
	<Icon type="wifi" />
	<Icon type="wrench Hand Icons" />
	<Icon type="hand-grab-o" />
	<Icon type="hand-lizard-o" />
	<Icon type="hand-o-down" />
	<Icon type="hand-o-left" />
	<Icon type="hand-o-right" />
	<Icon type="hand-o-up" />
	<Icon type="hand-paper-o" />
	<Icon type="hand-peace-o" />
	<Icon type="hand-pointer-o" />
	<Icon type="hand-rock-o" />
	<Icon type="hand-scissors-o" />
	<Icon type="hand-spock-o" />
	<Icon type="hand-stop-o" />
	<Icon type="thumbs-down" />
	<Icon type="thumbs-o-down" />
	<Icon type="thumbs-o-up" />
	<Icon type="thumbs-up" />
	<h2>Transportation Icons</h2>
	<Icon type="ambulance" />
	<Icon type="automobile" />
	<Icon type="bicycle" />
	<Icon type="bus" />
	<Icon type="cab" />
	<Icon type="car" />
	<Icon type="fighter-jet" />
	<Icon type="motorcycle" />
	<Icon type="plane" />
	<Icon type="rocket" />
	<Icon type="ship" />
	<Icon type="space-shuttle" />
	<Icon type="subway" />
	<Icon type="taxi" />
	<Icon type="train" />
	<Icon type="truck" />
	<Icon type="wheelchair Gender Icons" />
	<Icon type="genderless" />
	<Icon type="intersex" />
	<Icon type="mars" />
	<Icon type="mars-double" />
	<Icon type="mars-stroke" />
	<Icon type="mars-stroke-h" />
	<Icon type="mars-stroke-v" />
	<Icon type="mercury" />
	<Icon type="neuter" />
	<Icon type="transgender" />
	<Icon type="transgender-alt" />
	<Icon type="venus" />
	<Icon type="venus-double" />
	<Icon type="venus-mars File Type Icons" />
	<Icon type="file" />
	<Icon type="file-archive-o" />
	<Icon type="file-audio-o" />
	<Icon type="file-code-o" />
	<Icon type="file-excel-o" />
	<Icon type="file-image-o" />
	<Icon type="file-movie-o" />
	<Icon type="file-o" />
	<Icon type="file-pdf-o" />
	<Icon type="file-photo-o" />
	<Icon type="file-picture-o" />
	<Icon type="file-powerpoint-o" />
	<Icon type="file-sound-o" />
	<Icon type="file-text" />
	<Icon type="file-text-o" />
	<Icon type="file-video-o" />
	<Icon type="file-word-o" />
	<Icon type="file-zip-o Spinner Icons" />
	<Icon type="circle-o-notch" />
	<Icon type="cog" />
	<Icon type="gear" />
	<Icon type="refresh" />
	<Icon type="spinner" />
	<h2>Form Control Icons</h2>
	<Icon type="check-square" />
	<Icon type="check-square-o" />
	<Icon type="circle" />
	<Icon type="circle-o" />
	<Icon type="dot-circle-o" />
	<Icon type="minus-square" />
	<Icon type="minus-square-o" />
	<Icon type="plus-square" />
	<Icon type="plus-square-o" />
	<Icon type="square" />
	<Icon type="square-o Payment Icons" />
	<Icon type="cc-amex" />
	<Icon type="cc-diners-club" />
	<Icon type="cc-discover" />
	<Icon type="cc-jcb" />
	<Icon type="cc-mastercard" />
	<Icon type="cc-paypal" />
	<Icon type="cc-stripe" />
	<Icon type="cc-visa" />
	<Icon type="credit-card" />
	<Icon type="google-wallet" />
	<Icon type="paypal Chart Icons" />
	<Icon type="area-chart" />
	<Icon type="bar-chart" />
	<Icon type="bar-chart-o" />
	<Icon type="line-chart" />
	<Icon type="pie-chart Currency Icons" />
	<Icon type="bitcoin" />
	<Icon type="btc" />
	<Icon type="cny" />
	<Icon type="dollar" />
	<Icon type="eur" />
	<Icon type="euro" />
	<Icon type="gbp" />
	<Icon type="gg" />
	<Icon type="gg-circle" />
	<Icon type="ils" />
	<Icon type="inr" />
	<Icon type="jpy" />
	<Icon type="krw" />
	<Icon type="money" />
	<Icon type="rmb" />
	<Icon type="rouble" />
	<Icon type="rub" />
	<Icon type="ruble" />
	<Icon type="rupee" />
	<Icon type="shekel" />
	<Icon type="sheqel" />
	<Icon type="try" />
	<Icon type="turkish-lira" />
	<Icon type="usd" />
	<Icon type="won" />
	<Icon type="yen Text Editor Icons" />
	<Icon type="align-center" />
	<Icon type="align-justify" />
	<Icon type="align-left" />
	<Icon type="align-right" />
	<Icon type="bold" />
	<Icon type="chain" />
	<Icon type="chain-broken" />
	<Icon type="clipboard" />
	<Icon type="columns" />
	<Icon type="copy" />
	<Icon type="cut" />
	<Icon type="dedent" />
	<Icon type="eraser" />
	<Icon type="file" />
	<Icon type="file-o" />
	<Icon type="file-text" />
	<Icon type="file-text-o" />
	<Icon type="files-o" />
	<Icon type="floppy-o" />
	<Icon type="font" />
	<Icon type="header" />
	<Icon type="indent" />
	<Icon type="italic" />
	<Icon type="link" />
	<Icon type="list" />
	<Icon type="list-alt" />
	<Icon type="list-ol" />
	<Icon type="list-ul" />
	<Icon type="outdent" />
	<Icon type="paperclip" />
	<Icon type="paragraph" />
	<Icon type="paste" />
	<Icon type="repeat" />
	<Icon type="rotate-left" />
	<Icon type="rotate-right" />
	<Icon type="save" />
	<Icon type="scissors" />
	<Icon type="strikethrough" />
	<Icon type="subscript" />
	<Icon type="superscript" />
	<Icon type="table" />
	<Icon type="text-height" />
	<Icon type="text-width" />
	<Icon type="th" />
	<Icon type="th-large" />
	<Icon type="th-list" />
	<Icon type="underline" />
	<Icon type="undo" />
	<Icon type="unlink Directional Icons" />
	<Icon type="angle-double-down" />
	<Icon type="angle-double-left" />
	<Icon type="angle-double-right" />
	<Icon type="angle-double-up" />
	<Icon type="angle-down" />
	<Icon type="angle-left" />
	<Icon type="angle-right" />
	<Icon type="angle-up" />
	<Icon type="arrow-circle-down" />
	<Icon type="arrow-circle-left" />
	<Icon type="arrow-circle-o-down" />
	<Icon type="arrow-circle-o-left" />
	<Icon type="arrow-circle-o-right" />
	<Icon type="arrow-circle-o-up" />
	<Icon type="arrow-circle-right" />
	<Icon type="arrow-circle-up" />
	<Icon type="arrow-down" />
	<Icon type="arrow-left" />
	<Icon type="arrow-right" />
	<Icon type="arrow-up" />
	<Icon type="arrows" />
	<Icon type="arrows-alt" />
	<Icon type="arrows-h" />
	<Icon type="arrows-v" />
	<Icon type="caret-down" />
	<Icon type="caret-left" />
	<Icon type="caret-right" />
	<Icon type="caret-square-o-down" />
	<Icon type="caret-square-o-left" />
	<Icon type="caret-square-o-right" />
	<Icon type="caret-square-o-up" />
	<Icon type="caret-up" />
	<Icon type="chevron-circle-down" />
	<Icon type="chevron-circle-left" />
	<Icon type="chevron-circle-right" />
	<Icon type="chevron-circle-up" />
	<Icon type="chevron-down" />
	<Icon type="chevron-left" />
	<Icon type="chevron-right" />
	<Icon type="chevron-up" />
	<Icon type="exchange" />
	<Icon type="hand-o-down" />
	<Icon type="hand-o-left" />
	<Icon type="hand-o-right" />
	<Icon type="hand-o-up" />
	<Icon type="long-arrow-down" />
	<Icon type="long-arrow-left" />
	<Icon type="long-arrow-right" />
	<Icon type="long-arrow-up" />
	<Icon type="toggle-down" />
	<Icon type="toggle-left" />
	<Icon type="toggle-right" />
	<Icon type="toggle-up" />
	<h2>Video Player Icons</h2>
	<Icon type="arrows-alt" />
	<Icon type="backward" />
	<Icon type="compress" />
	<Icon type="eject" />
	<Icon type="expand" />
	<Icon type="fast-backward" />
	<Icon type="fast-forward" />
	<Icon type="forward" />
	<Icon type="pause" />
	<Icon type="play" />
	<Icon type="play-circle" />
	<Icon type="play-circle-o" />
	<Icon type="random" />
	<Icon type="step-backward" />
	<Icon type="step-forward" />
	<Icon type="stop" />
	<Icon type="youtube-play" />
	<h2>Brand Icons All</h2>
	<Icon type="500px" />
	<Icon type="adn" />
	<Icon type="amazon" />
	<Icon type="android" />
	<Icon type="angellist" />
	<Icon type="apple" />
	<Icon type="behance" />
	<Icon type="behance-square" />
	<Icon type="bitbucket" />
	<Icon type="bitbucket-square" />
	<Icon type="bitcoin" />
	<Icon type="black-tie" />
	<Icon type="btc" />
	<Icon type="buysellads" />
	<Icon type="cc-amex" />
	<Icon type="cc-diners-club" />
	<Icon type="cc-discover" />
	<Icon type="cc-jcb" />
	<Icon type="cc-mastercard" />
	<Icon type="cc-paypal" />
	<Icon type="cc-stripe" />
	<Icon type="cc-visa" />
	<Icon type="chrome" />
	<Icon type="codepen" />
	<Icon type="connectdevelop" />
	<Icon type="contao" />
	<Icon type="css3" />
	<Icon type="dashcube" />
	<Icon type="delicious" />
	<Icon type="deviantart" />
	<Icon type="digg" />
	<Icon type="dribbble" />
	<Icon type="dropbox" />
	<Icon type="drupal" />
	<Icon type="empire" />
	<Icon type="expeditedssl" />
	<Icon type="facebook" />
	<Icon type="facebook-f" />
	<Icon type="facebook-official" />
	<Icon type="facebook-square" />
	<Icon type="firefox" />
	<Icon type="flickr" />
	<Icon type="fonticons" />
	<Icon type="forumbee" />
	<Icon type="foursquare" />
	<Icon type="ge" />
	<Icon type="get-pocket" />
	<Icon type="gg" />
	<Icon type="gg-circle" />
	<Icon type="git" />
	<Icon type="git-square" />
	<Icon type="github" />
	<Icon type="github-alt" />
	<Icon type="github-square" />
	<Icon type="gittip" />
	<Icon type="google" />
	<Icon type="google-plus" />
	<Icon type="google-plus-square" />
	<Icon type="google-wallet" />
	<Icon type="gratipay" />
	<Icon type="hacker-news" />
	<Icon type="houzz" />
	<Icon type="html5" />
	<Icon type="instagram" />
	<Icon type="internet-explorer" />
	<Icon type="ioxhost" />
	<Icon type="joomla" />
	<Icon type="jsfiddle" />
	<Icon type="lastfm" />
	<Icon type="lastfm-square" />
	<Icon type="leanpub" />
	<Icon type="linkedin" />
	<Icon type="linkedin-square" />
	<Icon type="linux" />
	<Icon type="maxcdn" />
	<Icon type="meanpath" />
	<Icon type="medium" />
	<Icon type="odnoklassniki" />
	<Icon type="odnoklassniki-square" />
	<Icon type="opencart" />
	<Icon type="openid" />
	<Icon type="opera" />
	<Icon type="optin-monster" />
	<Icon type="pagelines" />
	<Icon type="paypal" />
	<Icon type="pied-piper" />
	<Icon type="pied-piper-alt" />
	<Icon type="pinterest" />
	<Icon type="pinterest-p" />
	<Icon type="pinterest-square" />
	<Icon type="qq" />
	<Icon type="ra" />
	<Icon type="rebel" />
	<Icon type="reddit" />
	<Icon type="reddit-square" />
	<Icon type="renren" />
	<Icon type="safari" />
	<Icon type="sellsy" />
	<Icon type="share-alt" />
	<Icon type="share-alt-square" />
	<Icon type="shirtsinbulk" />
	<Icon type="simplybuilt" />
	<Icon type="skyatlas" />
	<Icon type="skype" />
	<Icon type="slack" />
	<Icon type="slideshare" />
	<Icon type="soundcloud" />
	<Icon type="spotify" />
	<Icon type="stack-exchange" />
	<Icon type="stack-overflow" />
	<Icon type="steam" />
	<Icon type="steam-square" />
	<Icon type="stumbleupon" />
	<Icon type="stumbleupon-circle" />
	<Icon type="tencent-weibo" />
	<Icon type="trello" />
	<Icon type="tripadvisor" />
	<Icon type="tumblr" />
	<Icon type="tumblr-square" />
	<Icon type="twitch" />
	<Icon type="twitter" />
	<Icon type="twitter-square" />
	<Icon type="viacoin" />
	<Icon type="vimeo" />
	<Icon type="vimeo-square" />
	<Icon type="vine" />
	<Icon type="vk" />
	<Icon type="wechat" />
	<Icon type="weibo" />
	<Icon type="weixin" />
	<Icon type="whatsapp" />
	<Icon type="wikipedia-w" />
	<Icon type="windows" />
	<Icon type="wordpress" />
	<Icon type="xing" />
	<Icon type="xing-square" />
	<Icon type="y-combinator" />
	<Icon type="y-combinator-square" />
	<Icon type="yahoo" />
	<Icon type="yc" />
	<Icon type="yc-square" />
	<Icon type="yelp" />
	<Icon type="youtube" />
	<Icon type="youtube-play" />
	<Icon type="youtube-square Medical Icons" />
	<Icon type="ambulance" />
	<Icon type="h-square" />
	<Icon type="heart" />
	<Icon type="heart-o" />
	<Icon type="heartbeat" />
	<Icon type="hospital-o" />
	<Icon type="medkit" />
	<Icon type="plus-square" />
	<Icon type="stethoscope" />
	<Icon type="user-md" />
	<Icon type="wheelchair" />
</div>
