<Timeline data={[ { timeLabel: { type: 'bg-red', content: '10 Feb. 2014' }, timelineItem: { icon: { type: 'envelope', colorType:
  'bg-blue' }, content: { time: { content: '12:05', icon: { type: 'clock-o', colorType: '' } }, header: { link: 'www.baidu.comn', content:
  'Support Team' }, body: { content: '...Content goes here' }, footer: { content: '<a className="btn btn-primary btn-xs">...</a>' } } }
  }, { timeLabel: { type: 'bg-red', content: '10 Feb. 2014' }, timelineItem: { icon: { type: 'envelope', colorType:
  'bg-blue' }, content: { time: { content: '12:05', icon: { type: 'clock-o', colorType: '' } }, header: { link: 'www.baidu.comn', content:
  'Support Team' }, body: { content: '...Content goes here' }, footer: { content: '<a className="btn btn-primary btn-xs">...</a>' } } }
  } ]}/>
