<div>
    <InfoPalette icon={<Icon type="envelope-o" />} iconBg="bg-aqua" title="Messages" number="1,410"/>
    <InfoPalette icon={<Icon type="flag-o" />} iconBg="bg-green" title="Bookmarks" number="410"/>
    <InfoPalette icon={<Icon type="calendar" />} type="bg-yellow" title="Events" number="41,410" progress="0.7" description="70% Increase in 30 Days" />
    <InfoPalette icon={<Icon type="comments-o" />} type="bg-red" title="Comments" number="41,410" progress="0.8" description="80% Increase in 30 Days" />
   
</div> 
