@headerHight: 50px;
@sidebarWidth: 230px;

// body{
// background: #333333;
// }

.zzstyle {
    ul{
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
    }
    @sidebarBackground: #222d32;
    @sidebarMenuBackground: #181f23;
    @sidebarMenuBackgroundHover: #1c2529;
    @sidebarMenuColor: #b8c7ce;
    @sidebarMenuColorHover: #fff;
    @sidebarTreeviewMenuBackgrund: #2c3b41;
    @sidebarTreeviewMenuColor: #8aa4af;
    .topbar {
        background: #ffffff;
        box-shadow: 0 1px 0 0 #efefef;
        width: 100%;
        height: @headerHight;
        line-height: @headerHight;
        vertical-align: middle;
        position: relative;
        z-index: 820;
        .logo {
            float: left;
            margin-left: 30px;
            span {
                font-family: MicrosoftYaHei;
                font-size: 14px;
                color: #000000;
                letter-spacing: 0;
                line-height: 14px;
                text-align: left;
                margin-left: 30px;
                font-weight: bold;
                height: @headerHight;
                line-height: @headerHight;
            }
        }
        .user {
            float: right;
            img {
                background: #d8d8e1;
                width: 28px;
                height: 28px;
                border-radius: 100%;
                line-height: @headerHight;
            }
            .username {
                padding-left: 10px;
                margin-right: 10px;
                font-family: MicrosoftYaHei;
                font-size: 12px;
                color: #333333;
                letter-spacing: 0;
                line-height: @headerHight;
                text-align: left;
            }
            .edit-passwd {
                padding-left: 20px;
                opacity: 0.9;
                font-family: MicrosoftYaHei;
                font-size: 12px;
                color: #4a5d82;
                letter-spacing: 0;
                line-height: @headerHight;
                text-align: center;
                border: none;
            }
            .exit {
                font-family: MicrosoftYaHei;
                font-size: 12px;
                color: #999999;
                text-align: center;
                border: none;
                line-height: @headerHight;
            }
        }
    }
    .content-wrapper {     
        position: relative;
        .sidebar {
            background: @sidebarBackground;
            position: absolute;
            top: 0;
            left: 0;
            min-height: 100%;
            width: @sidebarWidth;
            z-index: 810;
            margin-bottom: -2000px;
            padding-bottom: 2000px;
            overflow: hidden;
        }
        .content {
            margin-left: @sidebarWidth;
            padding-top: @headerHight;
            padding-left: 30px;
            background: #ffffff;
        }
    }
    .sidebar-menu{
        &>li>a{
            background: @sidebarMenuBackground;
            color: @sidebarMenuColor;
            position: relative;
            padding: 12px 5px 12px 15px;
            display: block;
            font-size: 14px;
            cursor: pointer;
            &:hover,a:focus,&:active{
                background: @sidebarMenuBackgroundHover;
                color: @sidebarMenuColorHover;
            }
            .pull-right-container{
                position: absolute;
                right: 10px;
                top: 50%;
                margin-top: -10px;
            }
        }
        .treeview-menu{
            background: @sidebarTreeviewMenuBackgrund;
            &>li>a{
                padding: 5px 5px 5px 15px;
                display: block;
                font-size: 12px;
                color: @sidebarTreeviewMenuColor;
                cursor: pointer;
                &:hover,a:focus,&:active{
                    color: @sidebarMenuColorHover;
                }
            }
        }
    }
    table{
        width: 100%;
        font-size: 12px;
        color: #666;
        th{
            padding: 17px 10px 15px;
            background:#efefef;
            text-align: center;
            font-weight: normal;
            border:1px solid #efefef;
        }
        td{
            text-align: center;
            padding: 17px 10px 15px;
            border:1px solid #efefef;
            a{
                color:#4a5d82;
            }
        }
        tr:nth-child(2n){
            background: #f8f9f9;
        }
    }
}